---
import DefaultLayout from "../components/LayoutDefault.astro";
import PortfolioItem from "../components/PortfolioItem.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
---
<SpeedInsights/>
<DefaultLayout
  documentTitle="Projects"
  documentDescription="Welcome to my portfolio, showcasing a selection of projects I've worked on."
>
  <div class="container">
    <h1 class="main-heading text-swipe-animation">Projects</h1>
    <div class="intro">
      <p>
        Welcome to my portfolio, showcasing a selection of projects and side
        projects I've worked on.
      </p>
    </div>

    <section class="projects">
      <PortfolioItem
        isOpenSource
        sourceCode="https://github.com/pHYo1328/portfolio"
        projectYear="2024"
        title="My Personal Portfolio"
        image="/images/portfolio.png"
        tags={["JavaScript", "TypeScript", "Astro", "CSS", "HTML"]}
        projectLink="www.phyonn.com"
      >
        <p slot="description">
          Yes, you are seeing this project now. I recreated my portfolio with
          Astro.
        </p>
      </PortfolioItem>
      <PortfolioItem
        projectLink="https://cron.timeles.live"
        projectYear="2024"
        title="SST Cron Job"
        image="/images/sstCron.png"
        tags={[
          "TypeScript",
          "Next.js",
          "Tailwind CSS",
          "tRPC",
          "Prisma",
          "AWS",
          "SST",
        ]}
      >
        <p slot="description">
          For our IMCS toolkit project, my friend and I developed a proof of
          concept for scheduled email sending using SST as Infrastructure as
          Code (IaC) and AWS EventBridge for scheduling.
        </p>
      </PortfolioItem>
      <PortfolioItem
        isOpenSource
        sourceCode="https://github.com/pHYo1328/ande"
        projectYear="2024"
        title="ZenBudget"
        image="/images/android.png"
        tags={["Android", "MUI", "Figma", "Firebase"]}
      >
        <p slot="description">
          Collaborated with my friends to create a financial management app with
          AI advisor with Android and Material UI
        </p>
      </PortfolioItem>
      <PortfolioItem
        isOpenSource
        sourceCode="https://github.com/pHYo1328/whiteboardApp"
        projectYear="2024"
        title="whiteboard app"
        image="/images/whiteboard.png"
        tags={["TypeScript", "Next.js", "Tailwind CSS", "tRPC", "Prisma"]}
      >
        <p slot="description">
          Researched and learned Tldraw and Excalidraw libraries; developed a
          collaborative whiteboard app using Socket.IO for real-time
          interactions.
        </p>
      </PortfolioItem>
      <PortfolioItem
        isOpenSource
        sourceCode="https://github.com/pHYo1328/inc-dynamic-form-builder"
        projectLink="https://inc-dynamic-builder.vercel.app"
        projectYear="2023"
        title="Dynamic Form Builder"
        image="/images/formBuilder.png"
        tags={["TypeScript", "Next.js", "Tailwind CSS", "tRPC", "Prisma"]}
      >
        <p slot="description">
          Utilized Next.js T3 stack to create a Google Form builder clone,
          developed with TypeScript for type safety and dnd-kit to enhance user
          experience.
        </p>
      </PortfolioItem>
      <PortfolioItem
        projectYear="2023"
        title="Techzero"
        image="/images/techzero.webp"
        projectLink="https://techzero.onrender.com"
        tags={[
          "JavaScript",
          "React",
          "Tailwind CSS",
          "MySQL",
          "Express.js",
          "Node.js",
          "Redis",
        ]}
      >
        <p slot="description">
          Inspired by Challenger , with my 3 friends, we create an e-commerce
          tech platform developed for our school project.
        </p>
      </PortfolioItem>
      <PortfolioItem
        isOpenSource
        sourceCode="https://github.com/pHYo1328/PDS-CA2"
        projectYear="2023"
        title="Data Analysis for Music Trends"
        image="/images/pds.png"
        tags={["Python"]}
      >
        <p slot="description">
          Data Analysis Project for school assignment mainly focused on music
          trends, genre preferences, and cultural influrences in evolving music
          landscape.
        </p>
      </PortfolioItem>
      <PortfolioItem
        isOpenSource
        sourceCode="https://github.com/pHYo1328/MAD"
        projectYear="2022"
        title="Pocket Mart"
        image="/images/mad.png"
        tags={["JavaScript", "React Native", "Supabase"]}
      >
        <p slot="description">
          Utilised React-Native and supabase as database to create an e-commerce
          app clone for school project.
        </p>
      </PortfolioItem>
    </section>
  </div>
</DefaultLayout>

<style lang="scss">
  .projects {
    row-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: stretch;
  }

  @media screen and (max-width: 1200px) {
    .projects {
      row-gap: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      align-items: stretch;
    }
  }

  @media screen and (max-width: 980px) {
    .projects {
      margin: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }
</style>
